<html>
    <head>
        <title>Auto Correct</title>
    </head>
    <body>
        <form action="predict" method="post">
            <h4>Enter your text here</h4>
            <textarea rows = "15" cols = "80" name = "word"></textarea>
            <br>
            <br>
            <button type="submit">Auto Correct</button>   
            <br>
            <br>
            {% if output %}
            <textarea rows = "15" cols = "80">{{output}}</textarea>
            <br>
            <br>
            <a href="/">Home</a>
            {% endif %}
        </form>
    </body>
</html>